---
import ButtonMain from "@components/base/ButtonMain.astro";
import ButtonSub from "@components/base/ButtonSub.astro";
import HeroMainModuleOne from "@components/hero/HeroMainModuleOne.astro";
---

<div
  id="Hero"
  x-intersect="activeStep = 0"
  class="min-h-screen w-full overflow-hidden bg-muted-100 dark:bg-muted-1000"
>
  <div class="min-h-screen w-full max-w-7xl mx-auto flex items-center px-4">
    <div class="w-full grid grid-cols-12">
      <div class="col-span-12 ltablet:col-span-5 lg:col-span-5">
        <div
          class="h-full ptablet:max-w-lg ptablet:mx-auto flex items-center mb-8 ltablet:mb-0 lg:mb-0"
        >
          <div
            class="text-center ltablet:text-left lg:text-left font-sans space-y-4"
          >
            <h1
              class="font-medium text-4xl ptablet:text-5xl lg:text-5xl text-muted-800 dark:text-white"
            >
              Jordan Soto
            </h1>
            <p class="text-lg text-muted-500 dark:text-muted-400">
              ¡Hola! Soy un estudiante de Ingeniería de Sistemas de 7&#186 Semestre. Soy responsable y autoexigente.  Mi experiencia como analista de datos me ha permitido desarrollar habilidades en Python, Java y SQL
            </p>
            <div
              class="w-full flex items-center justify-center ltablet:justify-start lg:justify-start gap-2"
            >
              <ButtonMain to={"#skills"} class="'min-w-[130px]'"
                >Conóceme</ButtonMain
              >
            </div>
          </div>
        </div>
      </div>
      <div class="relative col-span-12 ltablet:col-span-7 lg:col-span-7">
        <!-- HERO IMAGE -->
        <img
          src="https://i.imgur.com/f83k9YC.png"
          class="block dark:hidden w-full ltablet:max-w-[400px] max-w-[400px] rounded-lg mx-auto"
          alt="Hero image"
        />
        <img
          src="https://i.imgur.com/f83k9YC.png"
          class="hidden dark:block w-full ltablet:max-w-[400px] max-w-[400px] rounded-lg mx-auto"
          alt="Hero image"
        />
      </div>
    </div>
  </div>
</div>
