---
import Container from "@components/section/Container.astro";
import Logo from "@components/base/Logo.astro";
---

<footer class="font-sans bg-white dark:bg-muted-900">

  <div class="bg-muted-100 dark:bg-muted-800">
    <Container>
      <div class="py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p
          class="text-muted-500 dark:text-muted-400 text-sm text-center sm:text-left"
        >
          © 2018-{new Date().getFullYear()} Derechos y Zurdos Reservados —
          <a
            href="https://cfuendev.netlify.app/"
            class="hover:text-primary-500"
            target="_blank"
            rel="noopener noreferrer">Cfuen (Juan Castillo)</a
          >
        </p>
        <span
          class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-muted-500 dark:text-muted-400 text-sm"
          >Creado con <a href="https://astro.build" class="hover:text-primary-500"
            >Astro.build</a
          >
          y
          <a
            href="https://cssninja.io/components-library/shuriken-ui"
            class="hover:text-primary-500"
            target="_blank"
            rel="noopener noreferrer">Shuriken UI</a
          >
        </span>
      </div>
    </Container>
  </div>
</footer>
