---
const { id, class: className, spy } = Astro.props;
---

<section
  x-intersect={`activeStep = 'spy-${spy}'`}
  id={id}
  class="w-full pb-16 pt-4 mt-12 px-4 bg-muted-100 dark:bg-muted-1000"
  :class={className}
>
  <slot />
</section>
